/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
} */

.background {
    background: linear-gradient(to right, #3a7bd5, #3a6073);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container1 {
    width: 95%;
    /* max-width: 500px; Increased max-width for larger screens */
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    animation: slideIn 0.5s forwards;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    margin: 0 auto; /* Center horizontally */
}

@keyframes slideIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

h1 {
    text-align: center;
    color: #333;
}

.htmlform-group {
    width: 100%; /* Ensure the form fields take up full width */
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start */
}

.label1 {
    margin-bottom: 5px;
    color: #333;
}

.form-input{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    /* Increase the width of the input fields */
    min-width: 500px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}

.signup-link {
    text-align: center;
    margin-top: 20px;
}

.signup-link a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

.signup-link a:hover {
    color: #555;
}

/* Responsive design */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .form-input {
        min-width: 250px;
    }
}
